body {
  letter-spacing: 0;
  padding: 0;
  line-height: 2;
  margin: 0px 0px 120px 50px;
}

label {
  font-size: large;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  line-height: 1;
  margin-bottom: 0;
}

p {
  line-height: 1;
  margin-top: 5px; 
  color: rgb(220, 220, 220);
}

.footer_card {
  font-family: cursive, serif, sans-serif;
  margin: 0 auto;
  position: sticky;
  width: 670px;
  display: grid;
  grid-template-columns: 70px 380px 1fr;
  grid-template-rows: 80px;
  align-items: center;
  justify-items: center;
  background-color: rgb(60, 122, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid transparent;
}

.footer_img {
  height: 100%;
}

.footer_card img { 
  height: 80px;
  margin-left: 10px;
}

.quote {
  margin-right: 30px;
}

.contact_button {
  text-align: center;
  width: 100%;
  font-family: cursive;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0px 0px 0px 30px;
  padding: 10px 10px 10px 10px;
}

.contact_button:hover {
  background-color: antiquewhite;
}

.contact_button:active {
  box-shadow: inset -2px -2px 3px rgba(232, 232, 232, 0.6), inset 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#sticky {
  position: fixed;
  top: 620px;
}

